@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #28282F;
  min-height: 100vh;
  position: relative;
  color: #f0f0f0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #31313A;
  position: absolute;
  top: 2.7%;
  bottom: 2.7%;
  left: 4.7%;
  right: 4.7%;
  overflow-x: hidden;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: .7s;
  transition: .7s;
}

main .main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  margin-bottom: 20px;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

main .main-text p {
  color: #a2a2a6;
  font-size: 13px;
  display: inline;
  font-weight: 400;
}

main .main-text h1.glitch {
  position: relative;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: .04rem;
  margin-bottom: 10px;
}

main .main-text h1.glitch::before, main .main-text h1.glitch::after {
  color: #f0f0f0;
  content: "I'm Rafał Kucharski";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #31313A;
  overflow: hidden;
  top: 0;
}

main .main-text h1.glitch::before {
  left: 1px;
  text-shadow: -2px 0 orange;
  -webkit-animation-name: glitch-animation-1;
          animation-name: glitch-animation-1;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: reverse-alternate;
          animation-direction: reverse-alternate;
}

main .main-text h1.glitch::after {
  left: -1px;
  text-shadow: -2px 0 orange;
  -webkit-animation-name: glitch-animation-2;
          animation-name: glitch-animation-2;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: reverse-alternate;
          animation-direction: reverse-alternate;
}

@-webkit-keyframes glitch-animation-1 {
  0% {
    clip: rect(47px, 2000px, 46px, 0px);
  }
  5% {
    clip: rect(139px, 2000px, 3px, 0px);
  }
  10% {
    clip: rect(71px, 2000px, 51px, 0px);
  }
  15% {
    clip: rect(9px, 2000px, 70px, 0px);
  }
  20% {
    clip: rect(82px, 2000px, 53px, 0px);
  }
  25% {
    clip: rect(77px, 2000px, 97px, 0px);
  }
  30% {
    clip: rect(75px, 2000px, 40px, 0px);
  }
  35% {
    clip: rect(109px, 2000px, 120px, 0px);
  }
  40% {
    clip: rect(82px, 2000px, 10px, 0px);
  }
  45% {
    clip: rect(57px, 2000px, 119px, 0px);
  }
  50% {
    clip: rect(91px, 2000px, 39px, 0px);
  }
  55% {
    clip: rect(74px, 2000px, 147px, 0px);
  }
  60% {
    clip: rect(13px, 2000px, 52px, 0px);
  }
  65% {
    clip: rect(11px, 2000px, 144px, 0px);
  }
  70% {
    clip: rect(85px, 2000px, 123px, 0px);
  }
  75% {
    clip: rect(37px, 2000px, 46px, 0px);
  }
  80% {
    clip: rect(73px, 2000px, 90px, 0px);
  }
  85% {
    clip: rect(89px, 2000px, 72px, 0px);
  }
  90% {
    clip: rect(11px, 2000px, 58px, 0px);
  }
  95% {
    clip: rect(123px, 2000px, 29px, 0px);
  }
  100% {
    clip: rect(21px, 2000px, 46px, 0px);
  }
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(47px, 2000px, 46px, 0px);
  }
  5% {
    clip: rect(139px, 2000px, 3px, 0px);
  }
  10% {
    clip: rect(71px, 2000px, 51px, 0px);
  }
  15% {
    clip: rect(9px, 2000px, 70px, 0px);
  }
  20% {
    clip: rect(82px, 2000px, 53px, 0px);
  }
  25% {
    clip: rect(77px, 2000px, 97px, 0px);
  }
  30% {
    clip: rect(75px, 2000px, 40px, 0px);
  }
  35% {
    clip: rect(109px, 2000px, 120px, 0px);
  }
  40% {
    clip: rect(82px, 2000px, 10px, 0px);
  }
  45% {
    clip: rect(57px, 2000px, 119px, 0px);
  }
  50% {
    clip: rect(91px, 2000px, 39px, 0px);
  }
  55% {
    clip: rect(74px, 2000px, 147px, 0px);
  }
  60% {
    clip: rect(13px, 2000px, 52px, 0px);
  }
  65% {
    clip: rect(11px, 2000px, 144px, 0px);
  }
  70% {
    clip: rect(85px, 2000px, 123px, 0px);
  }
  75% {
    clip: rect(37px, 2000px, 46px, 0px);
  }
  80% {
    clip: rect(73px, 2000px, 90px, 0px);
  }
  85% {
    clip: rect(89px, 2000px, 72px, 0px);
  }
  90% {
    clip: rect(11px, 2000px, 58px, 0px);
  }
  95% {
    clip: rect(123px, 2000px, 29px, 0px);
  }
  100% {
    clip: rect(21px, 2000px, 46px, 0px);
  }
}

@-webkit-keyframes glitch-animation-2 {
  0% {
    clip: rect(105px, 2000px, 112px, 0px);
  }
  5% {
    clip: rect(1px, 2000px, 56px, 0px);
  }
  10% {
    clip: rect(16px, 2000px, 35px, 0px);
  }
  15% {
    clip: rect(14px, 2000px, 19px, 0px);
  }
  20% {
    clip: rect(42px, 2000px, 20px, 0px);
  }
  25% {
    clip: rect(112px, 2000px, 116px, 0px);
  }
  30% {
    clip: rect(124px, 2000px, 16px, 0px);
  }
  35% {
    clip: rect(83px, 2000px, 120px, 0px);
  }
  40% {
    clip: rect(26px, 2000px, 97px, 0px);
  }
  45% {
    clip: rect(60px, 2000px, 1px, 0px);
  }
  50% {
    clip: rect(147px, 2000px, 84px, 0px);
  }
  55% {
    clip: rect(122px, 2000px, 121px, 0px);
  }
  60% {
    clip: rect(47px, 2000px, 80px, 0px);
  }
  65% {
    clip: rect(141px, 2000px, 15px, 0px);
  }
  70% {
    clip: rect(121px, 2000px, 118px, 0px);
  }
  75% {
    clip: rect(23px, 2000px, 56px, 0px);
  }
  80% {
    clip: rect(36px, 2000px, 47px, 0px);
  }
  85% {
    clip: rect(136px, 2000px, 23px, 0px);
  }
  90% {
    clip: rect(77px, 2000px, 65px, 0px);
  }
  95% {
    clip: rect(6px, 2000px, 21px, 0px);
  }
  100% {
    clip: rect(17px, 2000px, 35px, 0px);
  }
}

@keyframes glitch-animation-2 {
  0% {
    clip: rect(105px, 2000px, 112px, 0px);
  }
  5% {
    clip: rect(1px, 2000px, 56px, 0px);
  }
  10% {
    clip: rect(16px, 2000px, 35px, 0px);
  }
  15% {
    clip: rect(14px, 2000px, 19px, 0px);
  }
  20% {
    clip: rect(42px, 2000px, 20px, 0px);
  }
  25% {
    clip: rect(112px, 2000px, 116px, 0px);
  }
  30% {
    clip: rect(124px, 2000px, 16px, 0px);
  }
  35% {
    clip: rect(83px, 2000px, 120px, 0px);
  }
  40% {
    clip: rect(26px, 2000px, 97px, 0px);
  }
  45% {
    clip: rect(60px, 2000px, 1px, 0px);
  }
  50% {
    clip: rect(147px, 2000px, 84px, 0px);
  }
  55% {
    clip: rect(122px, 2000px, 121px, 0px);
  }
  60% {
    clip: rect(47px, 2000px, 80px, 0px);
  }
  65% {
    clip: rect(141px, 2000px, 15px, 0px);
  }
  70% {
    clip: rect(121px, 2000px, 118px, 0px);
  }
  75% {
    clip: rect(23px, 2000px, 56px, 0px);
  }
  80% {
    clip: rect(36px, 2000px, 47px, 0px);
  }
  85% {
    clip: rect(136px, 2000px, 23px, 0px);
  }
  90% {
    clip: rect(77px, 2000px, 65px, 0px);
  }
  95% {
    clip: rect(6px, 2000px, 21px, 0px);
  }
  100% {
    clip: rect(17px, 2000px, 35px, 0px);
  }
}

.opacity {
  opacity: 0;
}

.contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color .3s ease-in-out, opacity .7s;
  transition: color .3s ease-in-out, opacity .7s;
}

.contact-icons .icons {
  padding-bottom: 30px;
}

.contact-icons .icons a:first-child {
  margin-left: 0;
}

.contact-icons .icons a {
  margin-left: 15px;
  font-size: 15px;
  color: #f0f0f0;
  -webkit-transition: .2s;
  transition: .2s;
}

.contact-icons .icons a:hover {
  color: orange;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .7s;
  transition: .7s;
}

nav .logo {
  margin-left: 1.3rem;
  cursor: pointer;
}

nav .logo a {
  color: #f0f0f0;
  text-decoration: none;
}

nav .logo a h2 {
  font-size: 1.1rem;
  letter-spacing: .02rem;
  font-weight: 400;
}

nav .logo a h2 span {
  color: orange;
  font-weight: 700;
}

nav .desktop-menu {
  display: none;
}

nav .desktop-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}

nav .desktop-menu ul li {
  list-style: none;
}

nav .desktop-menu ul li a {
  display: block;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 16px;
  padding: 0 20px;
  -webkit-transition: .2s;
  transition: .2s;
}

nav .desktop-menu ul li a:hover {
  color: orange;
}

.burger {
  display: block;
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 3px;
  margin: 1rem 0.6rem;
}

.burger span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  margin: 0.05rem auto 0.55rem -0.8rem;
  text-indent: -999em;
  top: 50%;
  left: 50%;
  margin-top: -0.05rem;
  cursor: pointer;
}

.burger span, .burger span:before, .burger span:after {
  display: block;
  width: 1.6rem;
  height: 0.1rem;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

.burger span:before, .burger span:after {
  position: absolute;
  content: "";
}

.burger span:before {
  top: -0.55rem;
}

.burger span:after {
  top: 0.55rem;
}

.burger4 input:checked + span:before, .burger4 input:checked + span:after {
  top: 0px;
  margin-top: -0.6rem;
}

.burger4 input:checked + span {
  -webkit-animation: menuCloseMiddle--base 0.5s forwards;
          animation: menuCloseMiddle--base 0.5s forwards;
}

.burger4 input:checked + span:before {
  -webkit-animation: menuCloseMiddle--before 0.5s forwards;
          animation: menuCloseMiddle--before 0.5s forwards;
}

.burger4 input:checked + span:after {
  -webkit-animation: menuCloseMiddle--after 0.5s forwards;
          animation: menuCloseMiddle--after 0.5s forwards;
}

@-webkit-keyframes menuCloseMiddle--base {
  0% {
    background-color: black;
  }
  80% {
    background-color: black;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes menuCloseMiddle--base {
  0% {
    background-color: black;
  }
  80% {
    background-color: black;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes menuCloseMiddle--after {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  80% {
    -webkit-transform: translateY(0.55rem) rotate(0);
            transform: translateY(0.55rem) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0.55rem) rotate(45deg);
            transform: translateY(0.55rem) rotate(45deg);
  }
}

@keyframes menuCloseMiddle--after {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  80% {
    -webkit-transform: translateY(0.55rem) rotate(0);
            transform: translateY(0.55rem) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0.55rem) rotate(45deg);
            transform: translateY(0.55rem) rotate(45deg);
  }
}

@-webkit-keyframes menuCloseMiddle--before {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  80% {
    -webkit-transform: translateY(0.55rem) rotate(0);
            transform: translateY(0.55rem) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0.55rem) rotate(-45deg);
            transform: translateY(0.55rem) rotate(-45deg);
  }
}

@keyframes menuCloseMiddle--before {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  80% {
    -webkit-transform: translateY(0.55rem) rotate(0);
            transform: translateY(0.55rem) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0.55rem) rotate(-45deg);
            transform: translateY(0.55rem) rotate(-45deg);
  }
}

.hidden {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}

.mobile-menu {
  height: 100%;
  display: none;
}

.mobile-menu ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  padding-top: 20px;
}

.mobile-menu ul li a {
  display: block;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 13px;
  padding: 20px;
}

.display {
  display: block;
}

.contact-section {
  font-family: 'Roboto', sans-serif;
  -webkit-transition: .7s;
  transition: .7s;
}

.contact-section .header {
  margin: 27px 20px;
  min-height: 100px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.contact-section .header h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 500;
}

.contact-section .header .typing {
  margin-top: 18px;
}

.contact-section .header .typing p {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 18px;
  color: #a2a2a6;
  opacity: .8;
  display: inline;
}

.contact-section .contacts-info {
  margin-top: 120px;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.contact-section .contacts-info h2 {
  display: inline;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .04rem;
  position: relative;
}

.contact-section .contacts-info h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #a2a2a6;
  opacity: .5;
}

.contact-section .contacts-info .info-container {
  font-family: 'Roboto Mono', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-section .contacts-info .info-container .info {
  margin-top: 45px;
}

.contact-section .contacts-info .info-container .info .tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section .contacts-info .info-container .info .tittle .phone {
  font-size: 42px;
}

.contact-section .contacts-info .info-container .info .tittle i {
  font-size: 30px;
  color: orange;
}

.contact-section .contacts-info .info-container .info .tittle p {
  font-size: 13px;
  font-weight: 500;
  margin-left: 10px;
}

.contact-section .contacts-info .info-container .info .info-description {
  font-size: 13px;
  margin-top: 15px;
  color: #a2a2a6;
}

.contact-section .contacts-info .info-container .info .info-description.mail {
  color: orange;
}

.contact-section .form-container {
  margin-top: 120px;
  margin-bottom: 80px;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.contact-section .form-container h2 {
  display: inline;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .04rem;
  position: relative;
}

.contact-section .form-container h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #a2a2a6;
  opacity: .5;
}

.contact-section .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

.contact-section .form-container form input, .contact-section .form-container form textarea {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 12px;
  margin-top: 30px;
  background-color: transparent;
  color: #f0f0f0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #a2a2a6;
  opacity: .5;
  padding: 20px 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.contact-section .form-container form input:focus, .contact-section .form-container form textarea:focus {
  outline: none;
  border-bottom-color: orange;
  opacity: 1;
}

.contact-section .form-container form input.active, .contact-section .form-container form textarea.active {
  color: red;
  border-bottom-color: red;
  opacity: 1;
}

.contact-section .form-container form input:focus, .contact-section .form-container form textarea:focus {
  color: #f0f0f0;
}

.contact-section .form-container form ::-webkit-input-placeholder {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 12px;
}

.contact-section .form-container form :-ms-input-placeholder {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 12px;
}

.contact-section .form-container form ::-ms-input-placeholder {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 12px;
}

.contact-section .form-container form ::placeholder {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 12px;
}

.contact-section .form-container form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 30px;
  padding: 12px 30px;
  background-color: orange;
  color: #f0f0f0;
  border: none;
}

.contact-section .form-container .warining {
  display: none;
  margin: 50px 27px;
  border: 2px orange solid;
}

.contact-section .form-container .warining p {
  font-size: 13px;
  font-family: 'Roboto Mono', sans-serif;
  color: #a2a2a6;
  padding: 3px 12px;
}

.contact-section .form-container .warining.active {
  display: block;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition: .9s ease-in;
  transition: .9s ease-in;
}

.loader p {
  font-size: 13px;
  color: orange;
}

nav, main, .contact-icons, .contact-section {
  opacity: 0;
}

@media screen and (min-height: 640px) {
  .container {
    top: 2.4%;
    bottom: 2.4%;
    left: 4.2%;
    right: 4.2%;
  }
}

@media screen and (min-height: 780px) {
  .container {
    top: 2%;
    bottom: 2%;
  }
}

@media screen and (min-height: 810px) {
  .container {
    top: 3.8%;
    bottom: 3.8%;
    left: 2.5%;
    right: 2.5%;
  }
}

@media screen and (min-height: 810px) and (max-width: 380px) {
  .container {
    top: 1.9%;
    bottom: 1.9%;
    left: 4%;
    right: 4%;
  }
}

@media screen and (min-height: 844px) {
  .container {
    top: 1.8%;
    bottom: 1.8%;
    left: 3.8%;
    right: 3.8%;
  }
}

@media screen and (min-height: 962px) {
  .container {
    top: 1.5%;
    bottom: 1.5%;
    left: 2.6%;
    right: 2.6%;
  }
}

@media screen and (min-height: 1024px) {
  .container {
    top: 1.5%;
    bottom: 1.5%;
    left: 2%;
    right: 2%;
  }
}

@media screen and (min-width: 560px) and (max-height: 340px) {
  .container {
    top: 4%;
    bottom: 4%;
    left: 2.5%;
    right: 2.5%;
  }
}

@media screen and (min-width: 601px) {
  .container {
    top: 1.6%;
    bottom: 1.6%;
    left: 2.5%;
    right: 2.5%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    top: 1.3%;
    bottom: 1.3%;
    left: 2%;
    right: 2%;
  }
}

@media screen and (min-width: 768px) and (min-height: 1024px) {
  .container {
    top: 1.5%;
    bottom: 1.5%;
  }
}

@media screen and (min-width: 660px) and (max-height: 430px) {
  .container {
    top: 3.5%;
    bottom: 3.5%;
  }
}

@media screen and (min-width: 960px) {
  .container {
    top: 5%;
    bottom: 5%;
    left: 3.2%;
    right: 3.2%;
  }
}

@media screen and (min-width: 960px) and (min-height: 1024px) {
  .container {
    top: 3%;
    bottom: 3%;
    left: 3%;
    right: 3%;
  }
}

@media screen and (min-width: 1240px) {
  .container {
    top: 4.2%;
    bottom: 4.2%;
    left: 2.5%;
    right: 2.5%;
  }
}

@media screen and (min-width: 1240px) and (min-height: 950px) {
  .container {
    top: 3.5%;
    bottom: 3.5%;
    left: 2.5%;
    right: 2.5%;
  }
}

@media screen and (min-width: 1366px) {
  .container {
    top: 4%;
    bottom: 4%;
    left: 2.2%;
    right: 2.2%;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    top: 3.4%;
    bottom: 3.4%;
    left: 2.1%;
    right: 2.1%;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    left: 1.9%;
    right: 1.9%;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    top: 2.8%;
    bottom: 2.8%;
    left: 1.6%;
    right: 1.6%;
  }
}

@media screen and (min-height: 736px) {
  nav .logo a h2 {
    font-size: 1.2rem;
  }
  nav .burger span {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: absolute;
    margin: 0.05rem auto 0.58rem -0.85rem;
    text-indent: -999em;
    top: 50%;
    left: 50%;
    margin-top: -0.05rem;
    cursor: pointer;
  }
  nav .burger span, nav .burger span:before, nav .burger span:after {
    display: block;
    width: 1.7rem;
    height: 0.1rem;
    background-color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
  }
  nav .burger span:before, nav .burger span:after {
    position: absolute;
    content: "";
  }
  nav .burger span:before {
    top: -0.58rem;
  }
  nav .burger span:after {
    top: 0.58rem;
  }
}

@media screen and (min-height: 896px) {
  nav .logo a h2 {
    font-size: 1.3rem;
  }
}

@media screen and (min-height: 962px) {
  nav .logo a h2 {
    font-size: 1.4rem;
  }
}

@media screen and (min-height: 1024px) {
  nav .logo a h2 {
    font-size: 1.5rem;
  }
  nav .burger span {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: absolute;
    margin: 0.06rem auto 0.6rem -0.9rem;
    text-indent: -999em;
    top: 50%;
    left: 50%;
    margin-top: -0.06rem;
    cursor: pointer;
  }
  nav .burger span, nav .burger span:before, nav .burger span:after {
    display: block;
    width: 1.8rem;
    height: 0.12rem;
    background-color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
  }
  nav .burger span:before, nav .burger span:after {
    position: absolute;
    content: "";
  }
  nav .burger span:before {
    top: -0.6rem;
  }
  nav .burger span:after {
    top: 0.6rem;
  }
}

@media screen and (min-height: 1024px) {
  nav .logo {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 601px) {
  nav .logo {
    margin-left: 35px;
  }
  nav .logo a h2 {
    font-size: 1.4rem;
  }
  nav .burger {
    margin: 1.6rem 1.4rem;
  }
  nav .burger span {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: absolute;
    margin: 0.0875rem auto 0.725rem -1rem;
    text-indent: -999em;
    top: 50%;
    left: 50%;
    margin-top: -0.0875rem;
    cursor: pointer;
  }
  nav .burger span, nav .burger span:before, nav .burger span:after {
    display: block;
    width: 2rem;
    height: 0.175rem;
    background-color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
  }
  nav .burger span:before, nav .burger span:after {
    position: absolute;
    content: "";
  }
  nav .burger span:before {
    top: -0.725rem;
  }
  nav .burger span:after {
    top: 0.725rem;
  }
}

@media screen and (min-width: 768px) {
  nav .burger-icon {
    display: none;
  }
  nav .logo {
    margin-top: 1.9rem;
  }
}

@media screen and (min-width: 768px) and (max-height: 630px) {
  nav .logo {
    margin-top: 1.4rem;
  }
}

@media screen and (min-width: 1020px) and (min-height: 1024px) {
  nav .logo {
    margin-top: 1.8rem;
  }
  nav .logo a h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1240px) {
  nav .logo {
    margin-left: 40px;
    margin-top: 1.6rem;
  }
  nav .logo a h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1366px) {
  nav .logo a h2 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1536px) {
  nav .logo {
    margin-top: 1.7rem;
  }
  nav .logo a h2 {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1920px) {
  nav .logo {
    margin-top: 1.8rem;
  }
  nav .logo a h2 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 2048px) {
  nav .logo {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  nav .desktop-menu {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  nav .desktop-menu ul {
    margin-top: 10px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 768px) and (max-height: 630px) {
  nav .desktop-menu ul {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1020px) and (min-height: 1024px) {
  nav .desktop-menu ul {
    margin-right: 18px;
    margin-top: 16px;
  }
  nav .desktop-menu ul li a {
    font-size: 17px;
  }
}

@media screen and (min-width: 1240px) {
  nav .desktop-menu ul {
    margin-right: 25px;
    margin-top: 35px;
  }
  nav .desktop-menu ul li a {
    font-size: 17px;
  }
}

@media screen and (min-width: 1440px) {
  nav .desktop-menu ul {
    margin-top: 42px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1536px) {
  nav .desktop-menu ul {
    margin-right: 28px;
    margin-top: 35px;
  }
  nav .desktop-menu ul li a {
    font-size: 18px;
  }
}

@media screen and (min-width: 1920px) {
  nav .desktop-menu ul {
    margin-right: 24px;
    margin-top: 10px;
  }
  nav .desktop-menu ul li a {
    font-size: 20px;
  }
}

@media screen and (min-width: 2048px) {
  nav .desktop-menu ul {
    margin-right: 28px;
    margin-top: 14px;
  }
  nav .desktop-menu ul li a {
    font-size: 20px;
  }
}

@media screen and (min-height: 780px) {
  .mobile-menu ul li a {
    font-size: 14px;
  }
}

@media screen and (min-height: 1250px) {
  .mobile-menu ul li a {
    font-size: 20px;
  }
}

@media screen and (min-width: 601px) {
  .mobile-menu ul li a {
    font-size: 16px;
  }
}

@media screen and (min-width: 750px) {
  .mobile-menu ul li a {
    font-size: 18px;
  }
}

@media screen and (min-width: 601px) {
  main .main-text h1.glitch {
    font-size: 52px;
    margin-bottom: 12px;
  }
  main .main-text p {
    font-size: 15px;
  }
}

@media screen and (min-width: 960px) {
  main .main-text h1.glitch {
    font-size: 68px;
    margin-bottom: 14px;
  }
  main .main-text p {
    font-size: 15px;
  }
}

@media screen and (min-width: 1240px) {
  main .main-text h1.glitch {
    font-size: 70px;
    margin-top: 15px;
    margin-bottom: 16px;
  }
  main .main-text p {
    font-size: 16px;
  }
}

@media screen and (min-height: 736px) {
  .contact-icons .icons a {
    font-size: 17px;
    margin-left: 20px;
  }
}

@media screen and (min-height: 896px) {
  .contact-icons .icons a {
    font-size: 18px;
  }
}

@media screen and (min-height: 962px) {
  .contact-icons .icons a {
    font-size: 20px;
    margin-left: 25px;
  }
}

@media screen and (min-height: 1024px) {
  .contact-icons .icons a {
    font-size: 21px;
  }
}

@media screen and (min-width: 601px) {
  .contact-icons .icons a {
    font-size: 18px;
  }
}

@media screen and (min-width: 1240px) {
  .contact-icons .icons a {
    font-size: 21px;
    margin-left: 25px;
  }
}

@media screen and (min-width: 1536px) {
  .contact-icons .icons a {
    font-size: 22px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1920px) {
  .contact-icons .icons a {
    font-size: 22px;
    margin-left: 30px;
  }
}
/*# sourceMappingURL=style.css.map */