.contact
    display: flex
    justify-content: center
    align-items: center
    transition: color .3s ease-in-out, opacity .7s
    .icons
        padding-bottom: 30px
        a:first-child
            margin-left: 0
        a
            margin-left: 15px
            font-size: 15px
            color: white
            transition: .2s
        a:hover
            color: orange
