.loader
    position: absolute
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    opacity: 1
    transition: .9s ease-in

    p
        font-size: 13px
        color: orange

nav, main, .contact-icons, .contact-section
    opacity: 0
