main
    display: flex
    justify-content: center
    align-items: center
    flex-grow: 1
    .main-text
        display: flex
        flex-direction: column
        align-items: center
        min-height: 166px
        padding: 0 50px
        text-align: center
        transition: .5s
        p
            color: #a2a2a6
            font-size: 14px
            display: inline
            font-weight: 400
            font-family: 'Roboto Slab', sans-serif
        h1.glitch
            font-family: 'Roboto Mono', sans-serif
            position: relative
            text-transform: uppercase
            color: #f0f0f0
            font-size: 42px
            line-height: 62px
            font-weight: 700
            letter-spacing: .04rem
            margin-bottom: 7px

        h1.glitch::before, h1.glitch::after
            color: #f0f0f0
            content: "I'm John Doe"
            position: absolute
            width: 100%
            height: 100%
            background: #31313A
            overflow: hidden
            top: 0

        h1.glitch::before
            left: 1px
            text-shadow: -2px 0 orange
            animation-name: glitch-animation-1
            animation-duration: 2.5s
            animation-timing-function: linear
            animation-delay: 0s
            animation-iteration-count: infinite
            animation-direction: reverse-alternate

        h1.glitch::after
            left: -1px
            text-shadow: -2px 0 orange
            animation-name: glitch-animation-2
            animation-duration: 2.5s
            animation-timing-function: linear
            animation-delay: 0s
            animation-iteration-count: infinite
            animation-direction: reverse-alternate

@keyframes glitch-animation-1
    $steps: 20
    @for $i from 0 through $steps
        #{percentage($i*(1/$steps))}
            clip: rect(random(150)+px, 350px, random(150)+px, 30px)

@keyframes glitch-animation-2
    $steps: 20
    @for $i from 0 through $steps
        #{percentage($i*(1/$steps))}
            clip: rect(random(150)+px, 350px, random(150)+px, 30px)

.opacity
    opacity: 0
