// CONTAINER

@media screen and (min-width: 960px)
    .container
        .line.top
            height: 30px

    .container
        .line.bottom
            height: 30px

    .container
        .line.left
            width: 30px

    .container
        .line.right
            width: 30px

// NAV

@media screen and (min-height: 736px)
    nav
        margin: 0 40px

@media screen and (min-height: 896px)
    nav
        .logo
            a
                h2
                    font-size: 1.2rem

@media screen and (min-width: 601px)
    nav
        .burger
            margin-right: -7px

@media screen and (min-width: 768px)
    nav
        margin: 0 50px
        padding-top: 25px
        .logo
            margin-bottom: 2px
            a
                h2
                    font-size: 1.3rem
        .burger-icon
            display: none
        .desktop-menu
            display: block

@media screen and (min-width: 768px) and (min-height: 1280px)
    nav
        .logo
            a
                h2
                    font-size: 1.4rem
        .desktop-menu
            ul
                li
                    a
                        font-size: 17px

@media screen and (min-width: 960px)
    nav
        margin: 0 60px
        padding-top: 35px

@media screen and (min-width: 1280px)
    nav
        margin: 0 65px
        padding-top: 40px

@media screen and (min-width: 1440px)
    nav
        padding-top: 45px
        .logo
            a
                h2
                    font-size: 1.4rem
        .desktop-menu
            ul
                li
                    a
                        font-size: 17px

@media screen and (min-width: 1536px)
    nav
        margin: 0 70px

@media screen and (min-width: 1600px)
    nav
        .logo
            a
                h2
                    font-size: 1.5rem

@media screen and (min-width: 1920px)
    nav
        margin: 0 75px
        .logo
            margin-left: -5px
            a
                h2
                    font-size: 1.7rem
        .desktop-menu
            ul
                li
                    a
                        font-size: 19px

// MOBILE MENU

@media screen and (min-height: 800px)
    .mobile-menu
        ul
            padding-top: 90px

@media screen and (min-height: 780px)
    .mobile-menu
        ul
            li
                a
                    font-size: 14px

@media screen and (min-height: 1250px)
    .mobile-menu
        ul
            li
                a
                    font-size: 20px

@media screen and (min-width: 601px)
    .mobile-menu
        top: 25px
        ul
            li
                a
                    font-size: 16px

@media screen and (min-width: 750px)
    .mobile-menu
        ul
            li
                a
                    font-size: 18px

// MAIN TEXT

@media screen and (min-width: 601px)
    main
        .main-text
            h1.glitch
                font-size: 52px
                margin-bottom: 12px
            p
                font-size: 15px

@media screen and (min-width: 960px)
    main
        .main-text
            h1.glitch
                font-size: 68px
                margin-bottom: 14px
            p
                font-size: 15px

@media screen and (min-width: 1240px)
    main
        .main-text
            h1.glitch
                font-size: 70px
                margin-top: 15px
                margin-bottom: 16px
            p
                font-size: 16px

// CONTACT

@media screen and (min-height: 736px)
    .contact-icons
        .icons
            a
                font-size: 17px
                margin-left: 20px

@media screen and (min-height: 896px)
    .contact-icons
        .icons
            a
                font-size: 18px

@media screen and (min-height: 962px)
    .contact-icons
        .icons
            a
                font-size: 20px
                margin-left: 25px

@media screen and (min-height: 1024px)
    .contact-icons
        .icons
            a
                font-size: 21px

@media screen and (min-width: 601px)
    .contact-icons
        .icons
            a
                font-size: 18px

@media screen and (min-width: 768px)
    .contact-icons
        .icons
            a
                font-size: 20px

@media screen and (min-width: 960px)
    .contact-icons
        bottom: 27px

@media screen and (min-width: 1240px)
    .contact-icons
        .icons
            a
                font-size: 21px
                margin-left: 25px

@media screen and (min-width: 1536px)
    .contact-icons
        .icons
            a
                font-size: 22px
                margin-left: 30px

@media screen and (min-width: 1920px)
    .contact-icons
        .icons
            a
                font-size: 22px
                margin-left: 30px
