nav {
    position: fixed;
    top: 15px;
    left: 0;
    right: 0;
    margin: 0 34px;
    background-color: #31313A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .7s;
    z-index: 2;

    .logo {
        cursor: pointer;

        a {
            color: #f0f0f0;
            text-decoration: none;

            h2 {
                font-size: 1.1rem;
                letter-spacing: .02rem;
                font-weight: 400;

                span {
                    color: orange;
                    font-weight: 700;
                }
            }
        }
    }

    .desktop-menu {
        display: none;

        ul {
            display: flex;
            margin-right: 15px;

            li {
                list-style: none;

                a {
                    display: block;
                    color: #f0f0f0;
                    text-decoration: none;
                    font-size: 16px;
                    padding: 0 20px;
                    transition: .2s
                }

                a:hover {
                    color: orange;
                }
            }
        }
    }
}

// The mixin
@mixin menu($width: 1.5rem,
    $height: rem(2),
    $gutter: rem(3),
    $color: white,
    $round: 0,
    $transition-duration: 0.3s) {
    @if unit($width)=="px" {
        $width: rem($width);
    }

    @if unit($height)=="px" {
        $height: rem($height);
    }

    @if unit($gutter)=="px" {
        $gutter: rem($gutter);
    }

    // Set margins
    $margin: $height+$gutter;
    $margin-left: $width / 2;
    $margin-top: $height / 2;

    // Set specific styles for each bar
    $top: $height+$gutter;

    // set global Variables
    $menu-height: $height !global;
    $menu-gutter: $gutter !global;
    $menu-color: $color !global;
    $menu-margin: $margin !global;
    $menu-margin-left: $margin-left !global;
    $menu-margin-top: $margin-top !global;
    $menu-top: $top !global;

    // The code for the span
    user-select: none;
    position: absolute;
    margin: #{$margin-top} auto #{$margin} -#{$margin-left};
    text-indent: -999em;
    top: 50%;
    left: 50%;
    margin-top: -#{$menu-height/2};
    cursor: pointer;

    // Set styles to bars
    &,
    &:before,
    &:after {
        display: block;
        width: $width;
        height: $height;
        background-color: $color;
        transition: $transition-duration;
        opacity: 1;

        @if $round !=0 {
            border-radius: $round;
        }
    }

    // Bottom and top bar
    &:before,
    &:after {
        position: absolute;
        content: "";
    }

    // Top bar
    &:before {
        top: -#{$top};
    }

    // Bottom bar
    &:after {
        top: #{$top};
    }
}

@mixin menu-close {

    &:before,
    &:after {
        top: 0px;
        margin-top: -#{($menu-height/2) + ($menu-gutter + $menu-height)};
        @content;
    }

    & {
        background-color: transparent;
    }

    &:before {
        transform: translateY($menu-gutter + $menu-height) rotate(45deg);
    }

    &:after {
        transform: translateY($menu-gutter + $menu-height) rotate(-45deg);
    }
}

@mixin menu-close-rtl {

    &:before,
    &:after {
        top: 0px;
        margin-top: -#{($menu-height/2) + ($menu-gutter + $menu-height)};
        @content;
    }

    & {
        background-color: transparent;
    }

    &:before {
        transform: translateY($menu-gutter + $menu-height) rotate(-45deg);
    }

    &:after {
        transform: translateY($menu-gutter + $menu-height) rotate(45deg);
    }
}

@mixin menu-close-rotator {

    &:before,
    &:after {
        top: 0px;
        margin-top: -#{($menu-height/2) + ($menu-gutter + $menu-height)};
        @content;
    }

    & {
        transform: rotate(-360deg);
        background-color: transparent;
    }

    &:before {
        transform: translateY($menu-gutter + $menu-height) rotate(-45deg);
    }

    &:after {
        transform: translateY($menu-gutter + $menu-height) rotate(45deg);
    }
}

@mixin menu-close-middle {

    &:before,
    &:after {
        top: 0px;
        margin-top: -#{($menu-height/2) + ($menu-gutter + $menu-height)};
        @content;
    }

    & {
        animation: menuCloseMiddle--base 0.5s forwards;
    }

    &:before {
        animation: menuCloseMiddle--before 0.5s forwards;
    }

    &:after {
        animation: menuCloseMiddle--after 0.5s forwards;

        @at-root {
            @keyframes menuCloseMiddle--base {
                0% {
                    background-color: rgba(0, 0, 0, 1);
                }

                80% {
                    background-color: rgba(0, 0, 0, 1);
                }

                100% {
                    background-color: rgba(0, 0, 0, 0);
                }
            }

            @keyframes menuCloseMiddle--after {
                0% {
                    transform: translateY(0) rotate(0);
                }

                80% {
                    transform: translateY($menu-gutter + $menu-height) rotate(0);
                }

                100% {
                    transform: translateY($menu-gutter + $menu-height) rotate(45deg);
                }
            }

            @keyframes menuCloseMiddle--before {
                0% {
                    transform: translateY(0) rotate(0);
                }

                80% {
                    transform: translateY($menu-gutter + $menu-height) rotate(0);
                }

                100% {
                    transform: translateY($menu-gutter + $menu-height) rotate(-45deg);
                }
            }
        }
    }
}

.burger {
    display: block;
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 3px;
    margin-top: 1.1rem;
    margin-bottom: 1rem;
    margin-right: -10px;

    span {
        @include menu(1.6rem, 0.100rem, 0.45rem, white);
    }
}

.burger:hover {
    span {
        @include menu(1.6rem, 0.100rem, 0.45rem, orange);
    }
}

.burger4 {
    input:checked+span {
        @include menu-close-middle();
    }
}

.hidden {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
}